<!DOCTYPE html>
<html lang="en">
    <!-- head-->
     <%-include('layouts/header')-%>
    <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPZ6BNP4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <!-- Navigation-->
       <%-include('layouts/navbar')-%> 
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>A propos</h1>
                            <span class="subheading">En savoir plus sur nous</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container mt-3">
  <div class="card" style="width: 1200px;">
    <img class="card-img-top" src="/img/about-bg1.jpg" alt="Card image" style="width:20%">
    <div class="card-body">
      <h4 class="card-title">Abdelhadi Nakhal</h4>
      <p class="card-text">Ancien élève de L'EMI Rabat.</p>
       
      </div>
    </div>
    <br>
    </main>
        <!-- Footer-->
        <%-include('layouts/footer')-%>
        <%-include('layouts/script')-%>
        <!-- Bootstrap core JS-->
    </body>
</html> 