<!DOCTYPE html>
<html lang="en">
    <!-- head-->
     <%-include('layouts/header')-%>
    <body>
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPZ6BNP4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <!-- Navigation-->
       <%-include('layouts/navbar')-%> 
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>À propos</h1>
                            <span class="subheading">En savoir plus sur nous</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container mt-3">
  <div class="card" style="width: 1200px;">
    <img class="card-img-top" src="/img/about-bg1.jpg" alt="Card image" style="width:20%">
    <div class="card-body">
      <h4 class="card-title">Abdelhadi Nakhal</h4>
      <p class="card-text">Graduated in 1996 from Mohammedia School of Engineers in Rabat,
         as Hydrogeologist and Geologist Engineer.</p>
       
       <p>I begun my career as a former staff in University Hassan First in Settat,
        where I occupy during some years the position of responsible public procurement,
      Then moved to the Polydiscplinary Faculty of Khouribga</p>
      
      <p>I have for two semester teached real analysis for the students in Physics-Chemistry and Economics Science and management,
      I have also teached soil mechanics for the students of Geological and mining georesources<p>
      
        <p>I spent some years on Quora forum where I interacted with a wide community of mathematicians,
      my passion was to solve math problems posted by people on Quora website<p>
      <p>I have also made some bibliographic studies in the exciting field of Markov decision Processes,
      and I have submitted an accepted paper entitled: 
      "A Novel method For accelerating the Value Iteration Algorithm Of A Discounted 
      Discrete Markov Decision Prcesses" to MOCASIM 2017.</p> 
      <p>After that, I was attracted by DevOps, and I am actually working on the ENME stack
      (Express Node MongoDB,EJS).<br>
        This dynamic website is created, following the book of Greg Lim, in the beginning
        but, Vscode copilot, was the Great compagnon and champion during this real challenge.
        but I occasionnally  benefited from the well structured answers provided by Deepseek especially when buying domain name  and during its configuration
    </p>
    </div>
  </div>
  <br>
  </main>
        <!-- Footer-->
        <%-include('layouts/footer')-%>
        <%-include('layouts/script')-%>
        <!-- Bootstrap core JS-->
    </body>
</html>